/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

body {
	margin: 0 auto;
	padding: 0;
	color: white;
	background-color: #111;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
	font-family: aktiv web;
	src: url(../fonts/AktivGroteskCorp-Regular.ttf);

  }
  



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


.section1 {
	height: 100vh;
	position: relative;
	background: url(../images/herobg.avif) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#hero-title {
	position: absolute;
	top: 3rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

#hero-subtitle {
	position: absolute;
	bottom: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
}


.section2 p{
	/* position: absolute; */
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: aktiv web;
	font-size: 2.7rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.section2 a{
	display: block;
	font-family: aktiv web;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	text-transform: uppercase;
}

.section3{
	margin-top: 10rem;
}

.section3 h2{
	font-family: aktiv web;
	font-size: 1.8rem;
	text-transform: uppercase;
	padding-left: 2rem;
	padding-right: 2rem;	
	margin: 0;
}

.section3-flex-container{
	width: 100%;
	display: flex;
    justify-content: space-between;
	padding-right: 2rem;
	margin-bottom: 5rem;
}

/* .section3-col-1{

} */

.section3-col-2{
	align-self: flex-end;
}

.section3 a{
	font-family: aktiv web;
}

.section3 figure{
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 60vh;
}

.section3 img{
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.section3 figcaption{
	position: absolute;
	top: 0;
	left: 1em;
}

.section3 p,h3{
	margin-bottom: 0px;
	font-family: aktiv web;
	text-transform: uppercase;
	font-size: 0.9rem;
}


.section4{
	position: relative;
	width: 100%;
}

.section4 blockquote{
	font-family: aktiv web;
	font-size: 1.8rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	line-height: 1.1;
}

.section5 {
	position: relative;
}

.section5 figure{
	position: relative;
	width: 100%;
	height: 60vh;
	padding: 0;
	margin: 0;
}

.section5 img{
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.section5 figcaption{
	position: absolute;
	top: 0;
	left: 1em;
}

.section5 p,h3{
	margin-bottom: 0px;
	font-family: aktiv web;
	text-transform: uppercase;
	font-size: 0.9rem;
}

.section6{
	position: relative;
	width: 100%;
}

.section6 blockquote{
	font-family: aktiv web;
	font-size: 1.8rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	line-height: 1.1;
}

.section7 {
	position: relative;
}

.section7 figure{
	position: relative;
	width: 100%;
	height: 60vh;
	padding: 0;
	margin: 0;
}

.section7 img{
	orientation: portrait;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.section7 figcaption{
	position: absolute;
	top: 0;
	left: 1em;
}

.section7 p,h3{
	margin-bottom: 0px;
	font-family: aktiv web;
	text-transform: uppercase;
	font-size: 0.9rem;
}



/* poisition center
top: 50%
left: 50%

Transform: translate(-50%,-50%); */